// main color ------------------------------------------
.bg-main-color{
    background-color: $mainClr;
}
.text-main-color{
    color: $mainClr;
}


// secondary color ------------------------------------------
.bg-secondary-color{
    background-color: $secondaryClr;
}
.text-second-color{
    color: $secondaryClr;
}


.light-grey {
    color: $textGrey;
}



